# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# IDE / editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db